# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

.claude
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof


gohttpserver
gohttpserver.exe~
bindata_assetfs.go
assets_vfsdata.go
*.un~
*.swp

docs/
dist/
.DS_Store
testdata/test
frontend/node_modules/
